@font-face { 
    font-family: 'font-boldd'; 
    src: url('fonts/ChaparralPro-Bold.otf');    
}

@font-face{
        font-family: 'font-ariall';
        src: url('fonts/OpenSans-Light.ttf');
}


/* Fonts for IE */

@font-face{
    font-family: 'font-boldd-ie';
    src: url('fonts/chaparral_pro_bold.eot'); 
    src: url('fonts/chaparral_pro_bold.eot?#iefix') format('embedded-opentype');    
}

@font-face{
        font-family: 'font-ariall-ie';
        src: url('fonts/OpenSans-Light.eot');
}





textarea
{
    overflow: hidden;
}

body{
    color: white;
    font-size:12px;
    font-family: 'font-boldd' ,'font-boldd-ie';
}

*{
    margin: 0px;
    padding: 0px;
}
img
{
    border : 0;
}

.cb{
    clear: both;
}
.fl{
    float: left;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}
a:hover{
    color: #99cc66;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}
h1{
    padding: 25px;
}
h2{
    margin-top: 10px;
}
h3{
    color: #000000;
    padding-bottom: 25px;
    font-size: 20px;
}

.first-object{
    margin-top: 25px;
}
.fullscreen-cont {
    margin-bottom:2px;
    z-index: 1;
    min-height: 700px;

}

/* fullscreen setup */
.fullscreen-cont,
.fullscreen-img,
.fullscreen-img-meet,
.fullscreen-img-services,
.fullscreen-img-solution,
.fullscreen-img-contact{
    display:block;
    position:relative;
    min-width:100%;
    min-height:516px;
}
@media screen and (max-width: 960px){
    .fullscreen-cont,
.fullscreen-img,
.fullscreen-img-meet,
.fullscreen-img-services,
.fullscreen-img-solution,
.fullscreen-img-contact,
{
    width:960px;
}
}
/*Home*/
.fullscreen-img {
    display:block;
    position:absolute;
    z-index:1;
    background:transparent url(../images/home-back.jpg) center center no-repeat;
    background-size:cover;
    background-position:50% 50%;
    top: -17px;
    height: 532px;
}
/* meet */
.meet{
    min-height:850px;
    margin-bottom: 16px;
}
.fullscreen-img-meet{
    display:block;
    position:absolute;
    z-index:1;
    background:transparent url(../images/meet-back.jpg) center center no-repeat;
    background-size:cover;
    background-position:50% 50%;
    min-height:860px;
}

/* services */
.services{
    min-height:789px;
}

.fullscreen-img-services{
    display:block;
    position:absolute;
    z-index:1;
    background:transparent url(../images/services-back.jpg) center center no-repeat;
    background-size:cover;
    background-position:50% 50%;
    min-height:789px;
}

/*solution*/
.solution{
    min-height:745px;
    z-index: 3000
}

.fullscreen-img-solution{
    display:block;
    position:absolute;
    z-index:1;
    background:transparent url(../images/solutions-back.jpg) center center no-repeat;
    background-size:cover;
    background-position:50% 50%;
    min-height:745px;
}

/*contact*/
.contact{
    min-height:780px;
}

.fullscreen-img-contact{
    display:block;
    position:absolute;
    z-index:1;
    background:transparent url(../images/contact-home.jpg) center center no-repeat;
    background-size:cover;
    background-position:50% 50%;
    min-height:10px;
}
.content {
    display:block;
    position:relative;
    z-index:2;
}

/*footer*/
footer
{
    position: relative;    
    z-index: 10000;
}

.footer{
    
    min-height:239px;
}

.fullscreen-img-footer
{        
    width: 100%;
    background:#ececec; 
}
.clients-footer{
    width: 960px;
    margin: 0 auto; 
}


.main{
    width: 960px;
    margin: 0 auto;
}
.image-logo{
    margin-bottom: 12px;
    margin-left: 15px;
    padding-top: 20px;
}
.SocialMedia{
    display: inline-block;
    float: right;
    list-style-type: none;
    margin-right: 23px;
    margin-top: 26px;
}
.SocialMedia li{
    display: inline-block;
    font-family: 'font-ariall' , 'font-ariall-ie';
}

.menu-back{
    max-width: 960px;
    z-index: 2;
    position: relative;
}
.line{
    background-color: #333333;
    border-bottom: 2px solid #666666;
    border-color: #666666;
    border-top: 2px solid #666666;
    border-width: 2px;
    height: 6px;
    position: absolute;
    top: 108px;
    width: 100%;
    z-index: -1;

}
/*navigation*/
nav li{
    display: inline-block;
    list-style-type: none;
    margin-right:5px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
}

nav ul{
    margin-left: 43px;
    margin-top: -44px;
    position: relative;
    z-index: 2;
}
/*///////////////////////////////////*/

.black-bar{
    background-color: #000000;
    height: 80px;
    opacity: 0.9;
    position: relative;
    width: 100%;   

}
.sub-bar{
    background-color: #FF9900;
    height: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
}
.content-BackGround{
    background-color: #cccccc;
    height: 300px;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    /*top: 300px;*/
}

.content-div-black{
    max-width: 960px;
    margin: 0 auto 5px;
}
.services-bar{
    margin-top: 306px;
}
.p-style
{   font-family: 'font-ariall' , 'font-ariall-ie' ;
    max-width: 960px;
    height: auto;
    color: #000000;    
    font-size: 16px;
    line-height: 1.5;
    margin: 13px auto 0;
    width: 960px;
    text-align: justify;
    padding: 5px;
    padding-bottom: 20px
}
.content-BackGround-services{
    height: 400px;
}

.p-style span{
    color: #99cc00;
    font-size: 22px;
}
.solution-bar{
    margin-top: 583px;
}





.services-contact tr td{
    color: #000000;
    display: inline-block;
    list-style-type: none;
    width: 350px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom:60px 

    }

    .services-contact tr
    {
        /*text-align: center*/
    }
.p-style-service{
    font-size: 13px;
    max-width: 442px;
    font-family: 'font-ariall' , 'font-ariall-ie' ;
}
.margin-top{
    margin-top: -29px;
}

.left-right-pages{
    position: absolute;
}
.arrow-right-pages{
    float: right;
}
.pages-li li{
    list-style-image:url('../images/pages/logo-services-li.png');
    color: #000000;
    padding-bottom: 10px;
    font-family: 'font-ariall' , 'font-ariall-ie';
    font-size: 14px;

}
.pages-li{
    padding-left: 20px;
    font-family: 'font-ariall' , 'font-ariall-ie';
}
.h1-pages{
    color: #000000;
    padding: 0px;
}
.container-pages{
    color: #000000;
    display: inline-block;
    width: 400px;

}
.green{
    width: 10px;
    min-height: 250px;
    background-color: #92D600;
    float: left;
}
.contant-container-pages{

    width: 440px;
    min-height: 250px;
    background-color:#EFEFEF;
    margin-bottom: 20px;    
}
.contant-container-pages-p{
    width:400px;
    margin: 0 0 0 10px;
    font-size: 16px;
    padding-bottom: 10px;
}
.name{
    font-size: 20px;
    color: #636363;
    font-weight: bold;
    padding-left: 10px;
    display: inline-block;
}
.title-name{
    color: #636363;
    padding-left: 10px;
    display: inline-block;
}
.container-pages-left{
    color: #000000;
}
.contant-container-pages ul {
    margin-left: 55px;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 20px;
}
.contant-container-pages li{
    list-style-image:url('../images/pages/li2.png');
    margin-bottom: 15px;
    font-size: 16px;
    font-family: 'font-ariall' , 'font-ariall-ie';
}
.container-pages-2{
    margin-left: 112px;
}
.enginner-title{
    margin: 0px;
    padding-bottom: 5px;
}
.enginner-p-style{
    margin:0px;
    padding-bottom: 30px;
}
.image-companys{
    padding-bottom: 30px;
    padding-top: 10px;
}


/* -------------------------------------------------------------------- */


::-webkit-input-placeholder 
{   
   color: #FFF;
   font-weight: bold;
   font-family: arial;   
}

:-moz-placeholder 
{ 
   color: #FFF;  
   font-weight: bold;
   font-family: arial;
}

::-moz-placeholder 
{ 
   color: #FFF;  
   font-weight: bold;
   font-family: arial;
}

:-ms-input-placeholder 
{  
   color: #FFF;  
   font-weight: bold;
   font-family: arial;
}

.contacts
{
    padding: 17px 0;    
    background-color: #FFFFFF;    
    opacity: 0.9;    
    width: 100%;
    height: 310px;
}

.contacts-wrap
{   
    position: relative;
    width: 960px;
    margin: 0 auto;    
    position: relative;
}

.contact_form
{
    position: relative; 
    width: 420px; 
}
form
{
    width:435px;
}

.contact_form input , .contact_form textarea
{
    color:orange;
    background-color: #484848;
    width : 420px;
    color:#FFF;
    font-weight: bold;  
    font-family: arial;    
    outline: none;
    border-radius: 7px;
    margin-bottom: 6px; 
    padding-left: 12px; 
    resize:none;
    border: 0 none;
}


.contact_form input
{
    height: 35px;       
}

.contact_form textarea
{
    height: 120px;  
    padding-top: 10px   
}

.contact_form input[type='submit']
{
    background-color: #8DC94F;
    border: medium solid;
    cursor: pointer;
    height: 35px;
    padding-left: 0;
   float: right;
    width: 100px;
}
.contact_form input[type='submit']:hover
{
    background: #58585a;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
input:focus{
    border-color: #8DC94F;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.map
{      
    position: relative;
    width: 505px;
    height: 292px;
    border: 1px solid gray;
    float: right;
}

.map iframe
{
    max-width: 100%;
    max-height: 100%;
}

/*.menu-back
{
    width: 500px;
    height: 100px;  
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(70,70,70,1) 82%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(82%, rgba(70,70,70,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(70,70,70,1) 82%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(70,70,70,1) 82%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(70,70,70,1) 82%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(70,70,70,1) 82%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
*/
/*.menu-back .border
{
    position: relative;

    width:490px;    
    height:90px;
    /*margin: 3px;  */
    
    /*border:1px solid  #fff;
}
*/

.SocialMedia div
{
    position: relative;
    height: 35px;
    width:35px;
    border-radius: 35px;
    background: #8cc751;   
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear; 
    
}

.SocialMedia div:hover
{
    background: #58585a;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}


.SocialMedia div img
{
    position: absolute;
}

.SocialMedia div.twitter img
{
    left: 5px;
    top: 6px;
}

.SocialMedia div.facebook img
{
    left: 8px;
    top: 4px;
}

.SocialMedia div.p img
{
    left: 5px;
    top: 2px;
}

.SocialMedia div.youtube img
{
    left: 2px;
    top: 4px;
}

.SocialMedia div.linkedin img 
{
    left: 5px;
    top: 4px;
}

.SocialMedia div.gmail img
{
    left: 5px;
    top: 5px;   
}

.SocialMedia div.rss img
{
    left: 5px;
    top: 3px;   
}

.clients
{
    background: transparent url(../images/clients-footer.jpg) no-repeat center center;
}

.footer-links
{
    background:#171717; 
    padding-bottom: 20px;
    width:100%;
    z-index: 5000;
}

.bar-footer
{
    z-index: 4900;
}

.bar-sol
{
    z-index: 2900;    
}

.white-op
{
    background: #212121;
    position: relative;
    margin:0 auto; 
    height: 70px;   
    line-height: 70px;
}



.footer-links .links
{
    position: relative;
    margin: 0 auto;
    max-width: 960px;


}

.footer-links .links ul li
{
    float:left;
    display: inline-block;    
    padding-left: 3px;
    padding-right: 3px;
    font-size: 15px;
}

.SM-footer
{    
    
margin-top: 17px;
margin-right: 0px;
}

.all-rights
{
    position: relative;
    max-width:960px;
    padding-top: 25px;
    padding-left: 10px;
    font-size: 13px;
    margin: 0 auto;
    font-family: 'font-ariall' , 'font-ariall-ie';
    line-height: 100%;
}
.scrolling-nav{
    position: fixed;
    top:0px;
    width: 960px;
    margin: 0 auto;
    z-index: 6000;
    display: none;
}



input , textarea
{
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none ;

    -webkit-transition: box-shadow 200ms linear;
    -moz-transition: box-shadow 200ms linear;
    -o-transition: box-shadow 200ms linear;
    -ms-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;

}

input:focus , textarea:focus
{
    -webkit-box-shadow: 2px 1px 27px 0px rgba(153, 204, 102, 1);
    -moz-box-shadow:    2px 1px 27px 0px rgba(153, 204, 102, 1);
    box-shadow:         2px 1px 27px 0px rgba(153, 204, 102, 1);    -webkit-transition: box-shadow 200ms linear;
    -moz-transition: box-shadow 200ms linear;
    -o-transition: box-shadow 200ms linear;
    -ms-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;

}

input[name="name"]{
    background-image:url(../images/contact-form/person.png);
    background-repeat:no-repeat;
    background-position: 397px;
} 
input[name="email"]{
    background-image:url(../images/contact-form/mail.png);
    background-repeat:no-repeat;
    background-position: 392px;
} 
input[name="number"]{
    background-image:url(../images/contact-form/mobile.png);
    background-repeat:no-repeat;
    background-position: 397px;
} 

.left-right{
    cursor: pointer;
}
.arrow-right{
    float: right;
    cursor: pointer;
}
.slide-title{
    color: #ff6633;
    font-size: 22px;
    margin-left: 60px;
    padding-bottom: 0px;

}
.slide-title-big{
    color:black;
    font-size: 33px;
    margin-left: 50px;
    margin-top: -5px;
    font-family: 'font-ariall' , 'font-ariall-ie';
}

.slide-contant{
    color: #000000;
    margin-left: 140px;
    margin-top: 20px;
    width: 189px;
    font-family: 'font-ariall' , 'font-ariall-ie';
}
.read-more{
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-left: 200px;
}
.read-mor-icon{
   margin-left: 4px;
   margin-top: -1px;
   position: absolute;
}

a.read-more:hover{
    color: #cc0000;
}
.fl-slide{
    float: left;
    padding-right: 10px
}
.logo-pages{
    float: left;
}
.header-page{
    margin-top: 10px;
    height: 191px;
}
.header-page span{
    margin-left: 10px;
}
.fl-header-pages{
    float: left;
    width: 280px;
    margin-top: 50px;
}
.image-header{
    float: right;
}
.image-header-2{
    position: absolute;
    z-index: -1;
}
.line-pages{
    width: 100%;
    height: 9px;
    background-color: #575759;
    margin-bottom:20px;
}

/*-----------------------------------*/
.color-engineer{
    color: #99cc66;
}
.color-management{
    color: #ff9961;
}
.cloud-color{
    color: #0099cc;
}
.mobile-color{
    color: #990066;
}
.color-balck{
    color: #000000;
}
strong{
    font-size: 15px;
}

/* Slider */

.slide-container
{
    height: 341px;
    margin: 160px auto 0;
    width: 660px;
    z-index: 3;    
}

.slide{           
    display: none;
    margin: 0 auto;
}

/*  bullets */
.bullets
{
    width:80px;    
    margin: 0 auto;
    cursor: pointer;
}

.b
{       
    width: 20px;
    height: 20px;    
    background: transparent url(../images/slide-btn.png) no-repeat top center ;        
}


div .main-external
{
    margin-top: 10px;
}
.table-services
{
    /*position: relative;*/
    margin: 60px auto;
    /*top: 2000px;*/    
}
table a{
    color: black;
}
table a:hover{
    color: gray;
}


.meet .content-BackGround
{
    height: 303px;
}

/*****/


/******************** Parallax ***********************/


#m_c_s_p
{    
    position: relative;
    margin-top:578px;

}

#serv_p
{    
    position: relative;
    margin-top:639px;

}

#sol_p
{    
    position: relative;
    /*top:-304px;*/
}

.contacts-bar{
    position: relative;
    margin-top: 500px;
}

